@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scrollable-div {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@layer components {
  .container-layout {
    @apply max-w-[1440px] px-5 md:px-10 lg:px-[64px] min-[1440px]:mx-auto;
  }
  .pill-button-custom {
    @apply h-7 min-h-0 rounded-lg !border-borderPrimaryDark bg-transparent !py-0 px-[6px] font-semibold text-textSecondary;
  }
}

.box-shadow-primary {
  box-shadow: 0px 4px 36px 0px rgba(136, 199, 48, 0.3);
}
.box-shadow-no-blur {
  box-shadow: 4px 4px 4px 0px #88c730;
}

.card-hoverable:hover {
  transition: all 0.3s ease;
  transition-duration: 500ms;
  transform: skew(1deg);
  border: 1.5px solid #88c730;
  box-shadow: 0px 4px 36px 0px rgba(136, 199, 48, 0.3);
}

.card-hoverable-no-skew:hover {
  transition: all 0.3s ease;
  transition-duration: 500ms;
  border: 1.5px solid #88c730;
  box-shadow: 0px 4px 36px 0px rgba(136, 199, 48, 0.3);
}

.card-shop-hover:hover .card-hover-text {
  opacity: 1;
  transition: all 0.5s ease;
}
